.row {
    margin: 0;
  }
  
  nav {
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: #458cd3;
    display: block;
    margin: 20px;
    padding-top: 4px;
    border-radius: 10px;
  }
  
  #myImg {
    margin-left: calc((100vw / 2) - 115px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  #title {
    width: 310px;
    text-align: center;
    margin-left: calc((100vw / 2) - 170px);
  }
  