<!--The content below is only a placeholder and can be replaced.-->
<div class="col-md-10 col-xs-12" id="body-content">
  <img src="images/muhammad-ibrahim.jpg" class="thumbnail" alt="Muhammad Ibrahim Photo" id="myImg">
  <div class="row" id="title">
    <h1>Muhammad Ibrahim</h1>
    <h3>Front-End Developer</h3>
  </div>
  <div ng-view="story"></div>
</div>

<nav class="col-md-2">
  <a role="tab" tabindex="1" href="/">Hello!</a>
  <a role="tab" tabindex="2" href="/story">Let's Play</a>
  <a role="tab" tabindex="3" href="/restart">Skill</a>
  <a role="tab" tabindex="4" href="/restart">Tech Me</a>
</nav>